<html>
    <head>
        <title>Pokémon | Gotta catch 'em all</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="../js/conf.js"></script>
    </head>
    <body>
        <div id="teste_jquery">
        </div> 
        <div id="text">
            <img src="../images/pokebola2.png" width="100" height="100">
            <input type="text" id="pokemon" name="pokemon" placeholder="Digite o número ou nome do pokémon">
            <button id="button">Pesquisar</button>
        </div><br>
        
        <hr>
        <ul id="infosPokemon">
            <li id="name"><b>Nome: </b></li>
            <li id="idPokedex"><b>Número na pokédex: </b></li>
            <li id="height"><b>Altura: </b></li>
            <li id="weight"><b>Peso: </b></li>
            <li id="moves"><b>Movimentos: </b></li> 
        </ul>
    </body>
</html>